@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: radial-gradient(#0C0D0E, #151718);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

main > section {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

main > section .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main > section .btns a {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: white;
  text-decoration: underline;
}

main > section .btns a:hover {
  opacity: 0.8;
}

main > section .btns .start-btn, main > section .btns .submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 25px;
  width: 400px;
  height: 75px;
  text-decoration: none;
  background-color: #FE3B1F;
  border-radius: 50px;
  -webkit-box-shadow: 0 4px 4px #00000025;
          box-shadow: 0 4px 4px #00000025;
}

main #landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main #landing .stars {
  position: absolute;
  height: 100%;
  width: 100%;
}

main #landing .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 300px;
  height: 700px;
  z-index: 1;
}

main #landing .info p {
  font-family: 'Rowdies', cursive;
  font-size: 96px;
  color: #FE3B1F;
}

main #landing .rocket-man {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

main #submitted-applications {
  display: none;
}

main #submitted-applications .wrapper {
  width: 1150px;
  margin: 0 auto;
}

main #submitted-applications h4 {
  padding: 75px 0;
  font-family: 'Rowdies', cursive;
  font-size: 56px;
  color: white;
}

main #submitted-applications .application {
  margin-bottom: 10px;
  width: 100%;
}

main #submitted-applications .application .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 15px;
  height: 50px;
  width: 100%;
  background-color: #FE3B1F;
  cursor: pointer;
}

main #submitted-applications .application .header p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
}

main #submitted-applications .application .info {
  display: none;
  width: 100%;
  background-color: white;
}

main #submitted-applications .application .info .wrapper {
  width: 900px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin: 0 auto;
}

main #submitted-applications .application .info .wrapper section h6 {
  padding: 50px 0 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-style: italic;
  font-weight: 400;
  color: #FE3B1F;
  text-decoration: underline;
}

main #submitted-applications .application .info .wrapper .personal-information .questions-answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #submitted-applications .application .info .wrapper .personal-information .questions-answers p {
  padding: 15px 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-style: italic;
  color: black;
}

main #submitted-applications .application .info .wrapper .personal-information .questions-answers p span {
  padding-left: 50px;
  color: #454545;
}

main #submitted-applications .application .info .wrapper .personal-information .questions-answers .questions {
  padding-right: 50px;
}

main #submitted-applications .application .info .wrapper .personal-information .questions-answers .answers p {
  color: #454545;
}

main #submitted-applications .application .info .wrapper .skillset .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #submitted-applications .application .info .wrapper .skillset .skill p {
  padding: 15px 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-style: italic;
  color: black;
}

main #submitted-applications .application .info .wrapper .skillset .skill .skill-experience {
  padding-left: 50px;
}

main #submitted-applications .application .info .wrapper .covid .question {
  padding-bottom: 50px;
}

main #submitted-applications .application .info .wrapper .covid .question p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: black;
}

main #submitted-applications .application .info .wrapper .covid .question > p {
  padding-bottom: 10px;
  font-size: 18px;
}

main #submitted-applications .application .info .wrapper .covid .question .answer {
  padding: 10px 0 10px 7.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #submitted-applications .application .info .wrapper .covid .question .answer p {
  padding-left: 5px;
}

main #submitted-applications .application .info .wrapper .covid .question .when {
  padding-top: 50px;
}

main #submitted-applications .application .info .wrapper .covid .question .when > p {
  padding-bottom: 10px;
  font-size: 18px;
}

main #submitted-applications .application .info .wrapper .covid .question .when .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin: 25px 0;
  padding: 0 50px;
  width: 350px;
  height: 50px;
  border: 1px solid #454545;
}

main #submitted-applications .application .info .wrapper .covid .question .when .date p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: italic;
  color: black;
}

main #submitted-applications .application .info .wrapper .covid .question .when .date img {
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main #submitted-applications .application .info .wrapper .insigts .question {
  padding-bottom: 50px;
}

main #submitted-applications .application .info .wrapper .insigts .question p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: black;
}

main #submitted-applications .application .info .wrapper .insigts .question > p {
  padding-bottom: 10px;
  font-size: 18px;
}

main #submitted-applications .application .info .wrapper .insigts .question .answer {
  padding: 10px 0 10px 7.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #submitted-applications .application .info .wrapper .insigts .question .answer p {
  padding-left: 5px;
}

main #submitted-applications .application .info .wrapper .insigts .question .text-answer {
  margin: 25px 0;
  padding: 25px;
  width: 450px;
  height: 125px;
  border: 1px solid #454545;
}

main #submitted-applications .application .info .wrapper .insigts .question .text-answer p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: italic;
  color: black;
}

main #submitted-applications .application.active {
  margin-top: 20px;
}

main #submitted-applications .application.active .header {
  background-color: #F05039;
}

main #submitted-applications .application.active .info {
  display: block;
}

main #slider {
  display: none;
}

main #slider > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

main #slider > div .wrapper {
  width: 725px;
  margin: 0 auto;
}

main #slider > div section {
  width: 100%;
  height: 100%;
}

main #slider > div section .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 350px;
}

main #slider > div section .header h4 {
  font-family: 'Rowdies', cursive;
  font-size: 64px;
  color: #FE3B1F;
}

main #slider > div section .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

main #slider > div section .info form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #slider > div section .info form .input-div {
  position: relative;
}

main #slider > div section .info form .input-div .error-message {
  position: absolute;
  bottom: -5px;
  left: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-style: italic;
  color: #FE3B1F;
}

main #slider > div section .info form .input-div.error input {
  border: 1px solid #FE3B1F;
}

main #slider > div section .info form input[type=text], main #slider > div section .info form input[type=email], main #slider > div section .info form input[type=tel], main #slider > div section .info form input[type=date], main #slider > div section .info form select {
  margin: 20px 0;
  padding: 0 50px;
  width: 450px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: italic;
  color: black;
  border: 1px solid #454545;
  outline: none;
}

main #slider > div section .info form button {
  width: 200px;
  height: 35px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: #FE3B1F;
  border: 0;
  outline: 0;
  cursor: pointer;
}

main #slider > div section .info form button:hover {
  opacity: 0.9;
}

main #slider > div section .info form .custom-select {
  position: relative;
}

main #slider > div section .info form .custom-select .select-hidden {
  display: none;
}

main #slider > div section .info form .custom-select img {
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}

main #slider > div section .info form .question {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #slider > div section .info form .question p {
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: black;
}

main #slider > div section .info form .question input[type=radio] {
  margin: 0 10px 0 7.5px;
  height: 12px;
  width: 12px;
}

main #slider > div section .info form .question label {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: black;
}

main #slider > div section .info form .question textarea {
  margin: 20px 0;
  padding: 25px;
  width: 525px;
  height: 125px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: italic;
  color: black;
  border: 1px solid #454545;
  outline: none;
  resize: none;
}

main #slider > div section .info form .question .when {
  padding-top: 50px;
}

main #slider > div section .info form .question .when .custom-date-input {
  position: relative;
}

main #slider > div section .info form .question .when .custom-date-input img {
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main #slider > div section .info form .question .when .error-message {
  bottom: -10px;
}

main #slider > div section .info > p {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: white;
  line-height: 200%;
  letter-spacing: 0.05em;
}

main #slider > div .personal-information {
  display: none;
}

main #slider > div .technical-skillset {
  display: none;
}

main #slider > div .technical-skillset form {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main #slider > div .technical-skillset .skill-set {
  padding-top: 50px;
}

main #slider > div .technical-skillset .skill-set .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px 0;
  padding: 0 15px;
  width: 450px;
  height: 50px;
  border: 1px solid #454545;
  outline: none;
}

main #slider > div .technical-skillset .skill-set .skill .skill-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #slider > div .technical-skillset .skill-set .skill .skill-text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: italic;
  color: black;
}

main #slider > div .technical-skillset .skill-set .skill .skill-text .skill-experience {
  padding-left: 50px;
}

main #slider > div .technical-skillset .skill-set .skill img {
  cursor: pointer;
}

main #slider > div .technical-skillset .skill-set .skill img:hover {
  opacity: 0.9;
}

main #slider > div .covid {
  display: none;
}

main #slider > div .covid .info {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main #slider > div .redberrian-insights {
  display: none;
}

main #slider > div .slider-nav {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #slider > div .slider-nav .slides {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #slider > div .slider-nav .slides div {
  margin: 0 5px;
  width: 20px;
  height: 20px;
  background-color: #FE3B1F;
  border-radius: 50%;
  opacity: 0.2;
}

main #slider > div .slider-nav .slides div.done {
  opacity: 1;
}

main #slider > div .slider-nav img {
  cursor: pointer;
}

main #slider > div .slider-nav img:hover {
  opacity: 0.9;
}

main #slider .left {
  background-color: white;
}

main #submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: none;
}

main #submit .btns {
  display: none;
}

main #submit p {
  font-family: 'Rowdies', cursive;
  font-size: 96px;
  color: #FE3B1F;
}
/*# sourceMappingURL=main.css.map */